<div class="container marketing">
    <div class="row">
        <!-- aquí se haría el for de músicos !-->
        <ng-container *ngIf="musicos; else vacio">
            <ng-container *ngFor="let musico of musicos">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="assets/images/{{ musico.foto }}" alt="Generic placeholder image" width="140" height="140">
                    <h2>{{ musico.nombre }} {{ musico.apellidos }}</h2>
                    <p><a class="btn btn-primary" (click)="verPerfil(musico.id)" role="button">Ver perfil</a></p>
                </div>
            </ng-container>
        </ng-container>
        <!-- aquí vendría el else -->
        <ng-template #vacio>
            <p>No se ha encontrado ningún músico.</p>
        </ng-template>
        <!-- aquí acabaría el for-->
    </div>
</div>